/* Student List Container */
.student-list-container {
  width: 95%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.18);

  /* Important */
  overflow: hidden;
}

/* Heading */
.student-list-container h2 {
  text-align: center;
  color: white;
  font-size: 28px;
  margin: 0 0 25px;
}

/* Table Wrapper */
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 12px;
}

/* Table */
.student-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  table-layout: auto;
}

/* Table Header */
.student-table thead {
  background: #4f46e5;
}

.student-table th {
  color: white;
  padding: 16px 14px;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
}

/* Table Body */
.student-table td {
  padding: 14px;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #e5e7eb;
  vertical-align: middle;
}

/* Alternate rows */
.student-table tbody tr:nth-child(even) {
  background: #f8f9ff;
}

/* Hover effect */
.student-table tbody tr:hover {
  background: #eef2ff;
  transition: 0.2s ease;
}

/* Action column */
.student-table td:last-child {
  text-align: center;
  white-space: nowrap;
}


/* Delete Button */
.delete-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 82px;
  height: 36px;

  padding: 0;

  background: #ef4444;
  color: white;
  border: none;
  border-radius: 7px;

  font-size: 13px;
  font-weight: 600;

  cursor: pointer;
  white-space: nowrap;
}

.delete-btn:hover {
  background: #dc2626;
  transform: translateY(-1px);
}

.delete-btn:active {
  transform: translateY(0);
}

/* Empty message */
.no-students {
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 25px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .student-list-container {
    width: 95%;
    padding: 20px 15px;
    margin-top: 35px;
  }

  .student-list-container h2 {
    font-size: 23px;
  }

  .student-table {
    min-width: 700px;
  }

}


/* Edit Button */
.edit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 82px;
  height: 36px;
  padding: 0;

  background: #6917ec;
  color: white;

  border: none;
  border-radius: 7px;

  font-size: 13px;
  font-weight: 600;

  cursor: pointer;
  white-space: nowrap;

  margin-right: 8px;

  transition: all 0.2s ease;
}

.edit-btn:hover {
  background: #8989ef;
  transform: translateY(-1px);
  box-shadow: 0 5px 12px rgba(112, 112, 239, 0.25);
}

.edit-btn:active {
  transform: translateY(0);
}